<div class="panels">
    <div class="panel panel1">
      <div>
        <a class="underline" [innerHTML]="'My<br>LinkedIn'" href="https://www.linkedin.com/in/summerhaysjosh/" target="_blank"></a>
        </div>
    </div>
    <div class="panel panel2">
      <div>
        <a class="underline" [innerHTML]="'My<br>Projects'" routerLink="/projects"></a>
      </div>
    </div>
    <div class="panel panel3">
      <div>
        <a class="underline" [innerHTML]="'About<br>Me'" href="https://jsummerblog.wordpress.com/about/" target="_blank"></a>
      </div>
    </div>
    <div class="panel panel4">
      <div>
        <a class="underline" [innerHTML]="'My<br>Blog'" href="https://jsummerblog.wordpress.com/" target="_blank"></a>
      </div>
    </div> 
    <div class="panel panel5">
      <div>
        <a class="underline" [innerHTML]="'My<br>Github'" href="https://github.com/joshSummerhays" target="_blank"></a>
      </div>
    </div> 
</div>