<div class="panels">
      <div class="panel panel1" (click)="toggleOpen('1')" (transitionend)="transitionEnd($event)" [ngClass]="{'open': isOpen1}">
      <p>Resume</p>
      <p>Dare</p>
      <p>My</p>
    </div>
    <div class="panel panel2" (click)="toggleOpen('2')" (transitionend)="transitionEnd($event)" [ngClass]="{'open': isOpen2}">
      <p>Projects</p>
      <p>To Take</p>
      <p>My</p>
    </div>
    <div class="panel panel3" (click)="toggleOpen('3')" (transitionend)="transitionEnd($event)" [ngClass]="{'open': isOpen3}">
      <p>Me</p>
      <p>The Road</p>
      <p>About</p>
    </div>
    <div class="panel panel4" (click)="toggleOpen('4')" (transitionend)="transitionEnd($event)" [ngClass]="{'open': isOpen4}">
      <p>Github</p>
      <p>Less</p>
      <p>My</p>
    </div> 
    <div class="panel panel5" (click)="toggleOpen('5')" (transitionend)="transitionEnd($event)" [ngClass]="{'open': isOpen5}">
      <p>LinkedIn</p>
      <p>Traveled</p>
      <p>My</p>
    </div> 
  </div>