<div class="panels-projects">
  <div class="panel-projects panel1-projects">
    <div>
      <a class="underline" [innerHTML]="'Project<br>One'" href="https://www.linkedin.com/in/summerhaysjosh/" target="_blank"></a>
      </div>
  </div>
  <div class="panel-projects panel2-projects">
    <div>
      <a class="underline" [innerHTML]="'Project<br>Two'" href="https://www.linkedin.com/in/summerhaysjosh/" target="_blank"></a>
    </div>
  </div>
  <div class="panel-projects panel3-projects">
    <div>
      <a class="underline" [innerHTML]="'Project<br>Three'" href="https://jsummerblog.wordpress.com/about/" target="_blank"></a>
    </div>
  </div>
  <div class="panel-projects panel4-projects">
    <div>
      <a class="underline" [innerHTML]="'Project<br>Four'" href="https://jsummerblog.wordpress.com/" target="_blank"></a>
    </div>
  </div> 
  <!-- <div class="panel-projects panel5-projects"> -->
    <!-- <div>
      <a class="underline" [innerHTML]="'My<br>Github'" href="https://github.com/joshSummerhays" target="_blank"></a>
    </div> -->
  <!-- </div>  -->
</div>