<div class="panels-projects">
  <div class="panel-projects panel1-projects panel-color-one">
    <div class="content-wrap">
      <img src="/assets/images/nutrifii.jpg" alt="NUTRIFII" width="350px" height="350px">
      <p class="p-marg-top">An Angular 2 site meant to showcase the Nutrifii brand and its features.</p>
      <br>
      <p>You can view the project <a class="underline" [innerHTML]="'here'" href="https://nutrifii-replicated.herokuapp.com/#/usa/english" target="_blank"></a></p>
    </div>
  </div>
  <div class="panel-projects panel2-projects panel-color-two">
    <div class="content-wrap">
      <!-- <a class="underline" [innerHTML]="'BOS Video<br>App'" href="http://bos.ariix.com/login" target="_blank"></a> -->
      <img src="/assets/images/bos2.jpg" alt="PURITII" width="350px" height="350px">
      <p class="p-marg-top">A MEAN stack video app created for watching videos and keeping track of previously viewed videos.</p>
      <br>
      <p>You can view the project <a class="underline" [innerHTML]="'here'" href="http://bos.ariix.com/login" target="_blank"></a></p>
    </div>
  </div>
  <div class="panel-projects panel3-projects panel-color-three">
    <div class="content-wrap">
      <img src="/assets/images/xoffice.jpg" alt="PURITII" width="350px" height="350px">
      <!-- <a class="underline" [innerHTML]="'xOffice<br>Portal'" href="http://onlineoramalama.com" target="_blank"></a> -->
      <p class="p-marg-top">An Angular 2 development test site for ordering products.</p>
      <br>
      <p>You can view the project <a class="underline" [innerHTML]="'here'" href="http://onlineoramalama.com" target="_blank"></a></p>
    </div>
  </div>
  <div class="panel-projects panel4-projects">
    <div class="content-wrap">
      <img src="/assets/images/puritii.jpg" alt="PURITII" width="350px" height="350px">
      <!-- <a class="underline" [innerHTML]="'Puritii<br>Products'" href="http://puritii.com" target="_blank"></a> -->
      <p class="p-marg-top">An Angular 2 site meant to showcase the Puritii brand and its features.</p>
      <br>
      <p>You can view the project <a class="underline" [innerHTML]="'here'" href="http://puritii.com" target="_blank"></a></p>
    </div>
  </div> 
  <!-- <div class="panel-projects panel5-projects"> -->
    <!-- <div>
      <a class="underline" [innerHTML]="'My<br>Github'" href="https://github.com/joshSummerhays" target="_blank"></a>
    </div> -->
  <!-- </div>  -->
</div>